/*************** Default Styling *********************/
:root {
  --bg-light-red: #ff7979;
  --bg-dark-red: #ee5253;
}
.small-icon {
  font-size: 1.2em;
}
.error {
  color: red;
  text-align: center;
  font-size: 1.1em;
}
.custom-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: var(--bg-light-red);
  width: 300px;
  height: 100px;
  display: none;
  text-align: center;
  line-height: 100px;
  transition: all linear 300ms;
  z-index: 1000;
  opacity: 0;
}
/*********************************************************/

/******************* Navbar ************************/

.navbar-custom {
  background: var(--bg-light-red);
  color: white;
}
.navbar-custom .navbar-brand {
  color: white;
}
/*********************************************************/

/***************** Main Container *************************/

#main-container {
  width: 80%;
  margin: 0 auto;
}
.form-title {
  background: var(--bg-dark-red);
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
  color: white;
}
.btn-custom-dark {
  background: var(--bg-dark-red);
  color: white;
}
.btn-custom-dark:hover {
  background: var(--bg-light-red);
  color: white;
}
.skill-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user-skill-list .skill-item{
  cursor: auto;
}
.left-content {
  flex: 1;
}
.right-content {
  display: flex;
  align-items: center;
}
.right-content span {
  margin: 0 5px;
}
.stars-outer{
  position: relative;
}
.stars-inner{
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  margin: 0 !important;
}
.star-black{
  font-weight: 900;
  color: #ccc;  
}
.star-yellow{
  font-weight: 900;
  color: #f8ce0b;
}
/*********************************************************/

/***************** Loader *************************/

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 100%; */
  padding: 20px;
  background: var(--bg-light-red);
  text-align: center;
  display: none;
  z-index: 1000;
}
.loader div {
  color: white;
  font-size: 1.1em;
}
.loader img {
  width: 50px;
  animation: loader 500ms linear infinite;
}
/*********************************************************/

/********************* Keyframes *************************/
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/*********************************************************/

/*******For Small device with width 767 or less********/

@media (max-width: 767px) {
  #main-container {
    width: 100%;
  }
  .skill-item{
    flex-direction: column;
  }
}

/*********************************************************/
